<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Demo" connectionString="Data Source=localhost; Initial Catalog=Demo;User ID=witeem;Password=witeem@126.com" />
	</connectionStrings>
	<appSettings>
		<add key="IsSqlAOP" value="TRUE" />
	</appSettings>
</configuration>